{
	"semi": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 120,
	"trailingComma": "es5",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"embeddedLanguageFormatting": "auto",
	"quoteProps": "as-needed"
}
