name: Build Check

on:
    pull_request:
        branches: [master]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: yarn ci
            - run: yarn check:lint
